############################
# IntelliJ IDEA
############################
.idea/
*.iml

############################
# Compilação Java
############################
out/
*.class

############################
# Sistema operacional
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log
